body {
  background: #21325e;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  color: white;
  font-family: "Montserrat", sans-serif;
}

header h1 {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  text-align: center;
  margin: 2.5rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 900;
}

p {
  font-size: 0.9rem;
}

.poster-carousel {
  margin: auto;
}

.container-fluid {
  margin: 0 auto;
}

.card {
  width: 14rem;
  color: #05103a;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 1rem;
}


.poster-img {
  width: 12rem;
  height: 18rem;
  margin: 0 auto;
}

.btn-theme {
  background-color: #3e497a;
  color: #f0f0f0;
  position: relative;
  transition: transform 0.3s;
}

.btn-theme:hover {
  background-color: #21325e;
  color: #f0f0f0;
  cursor: pointer;
  transform: scale(1.1);
}

.search-bar {
  width: 20rem;
  margin: 2rem auto;
}

/* Responsivenes */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .search-bar {
    width: 25rem;
    margin: 3rem auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header h1 {
    font-size: 6rem;
    margin: 4rem;
  }

  .poster-carousel > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .search-bar {
    width: 35rem;
    margin: 5rem auto;
  }
}
